.cardContainer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #fef9ec;
  padding: 16px;
  width: 100%;

  .emoji {
    font-size: 36px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .description {
      margin-bottom: 4px;
    }

    .date {
      margin-bottom: 16px;
      color: #989898;
      font-size: 12px;
    }

    .days {
      font-weight: bold;
      font-size: 32px;
    }
  }
}
