.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  font-size: 14px;
  font-family:
    ”Microsoft YaHei”,
    Arial,
    Helvetica,
    sans-serif,
    ”宋体”;
}

.card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #fef9ec;
  padding: 16px;
  width: 100%;
}

.icon {
  font-size: 36px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description {
  margin-bottom: 4px;
}

.day {
  margin-bottom: 16px;
  color: #989898;
  font-size: 12px;
}

.days {
  font-weight: bold;
  font-size: 32px;
}

.title {
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}
