.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .coin {
    width: 200px;
    height: 200px;
  }

  .calculator {
    margin: 8px 0 12px;
    font-size: 28px;
  }

  .text {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .money {
    font-size: 28px;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: 18px;
  }

  .btn {
    border-radius: 8px;
    background: #000;
    padding: 4px 12px;
    color: #fff;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .disable {
    cursor: not-allowed;
    background: #666;
  }
}
